html {
    background-color: rgb(169,24,42);
}

body {
    background-color: rgb(55, 55, 55);
    padding: 20px 0px 50px 0px;
    margin: 0 5% 6% 5%;
    min-width: 1265px;
    font-size: 14px;
}

@media (max-width: 1385px) {
    body {
        margin: 0px;
    }
}

#calculator {
    padding: 40px 400px 30px 20px;
    background-color: white;
}

#activities {
    background-color:rgb(233,239,241);
    overflow: hidden;
    padding: 0 12px 25px 12px;
    width: 1200px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

h2 {
    color: rgb(184,8,11);
    font-family: Cambria;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 30px 0;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 1200px;
    table-layout: auto;
    font-size: 16px;
}

th {
    font-weight: bold;
    background-color: rgb(221,221,221);
    padding: 5px 6px;
}

th, td {
    border: 0.5px solid rgb(203,205,206);
    font-family: 'Times New Roman', Times, serif;
    min-width: 190px;
    text-align: left;
    width: auto;
}

td {
    padding-left: 6px;
    padding-right: 6px;
}

input {
    border: 0.5px solid lightgray;
    padding: 10px 6px;
    width: 45%;
    margin: 4px 0;
    font-size: 16px;
}

button {
    background-color:rgb(184,16,19);
    color: white;
    font-size: 15px;
    border: 0.5px solid lightgray;
    text-transform: uppercase;
    float:right;
}

.calculate {
    margin-right: 15px;
    padding: 8px 4px;
    min-width: 90px;
    text-align: center;
    vertical-align: center;
    border-radius: 6px;
}

.changeRow {
    padding: 5px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#addRow {
    margin-left: 6px;
    margin-right: 15px;
}

#result {
    font-size: 16px;
}